/* -------  background & header ------- */

.home{
	display: flex;
	background: url("https://i.postimg.cc/7YDkJmfH/pexels-ruvim-3560044.jpg") no-repeat center;
	background-size: cover;
	height: 100vh;
	min-height: 500px;
	color: white;
	background-attachment: fixed;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 
 
 
  main{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 
  footer {
	  background-color: rgb(33, 112, 177);
	  color: #ffffff;
	  padding: 1%;
	  font-size: x-small;
	  height: fit-content;
	  text-align: center;
  }
 
  /*----- Navigation ------*/
  .main{
	  display: flex;
	  justify-content: center;
		align-items: center;
  }
 
  img {
	  width: 200px;
	  height: 200px;
	  display: block;
	  margin: auto;
  }
 
  h3{
	  text-align: center;
  }
 
 
  label {
	  flex-direction: column;
	  width: 350px;
	  padding-right: 24px;
  }
 
  textarea{
	  flex-direction: column;
  }
 
 
  input {
	  flex-direction: column;
	  padding-right: 24px;
  }
 
  .items{
	  text-align: center;
  }
 
 
  /* ---  Letter Animation --- */
  span{
	  margin: 0 15px;
	  text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	  animation: span 3s ease-in infinite alternate;
  }
 
  .letter{
	  display: inline-flex;
	  height: 30px;
	  width: 27px;
	  /* border: 2.5px solid #FF1EAD; */
	  border: 2.35px solid black;
	  border-radius: 14px;
	  box-shadow:
		  0 0 2px rgba(0, 0, 0, .75),
		  inset 0 0 2px rgba(0, 0, 0, .45);
 
	  animation: letter 3s ease-in-out infinite alternate;
  }
  @keyframes span {
	  0%,30%{ margin: 0 15px; }
	  70%,100%{ margin: 0 5px; }
  }
  @keyframes letter {
	  0%,30%{ width: 27px; }
	  70%,100%{ width: 30vw; }
  }
 
 
 
 
 
  /* ---  (Desktop) Groups & Items --- */
  @media all and (max-width:902px){
 
  form label {
	  display: flex;
	  width: 200%;
	}
	form button {
	  display: flex;
	}
	form input {
	  width: 50%;
	  min-height: 30px;
	}
	form textarea {
	  width: 50%;
	  min-height: 50px;
	}
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 709d584052d69c4c4128cf206b30d1853171807d
